<!DOCTYPE html>
<html lang="en-US">
<head>
<style>
#welcome{
	border: solid 1px;
	overflow-y: auto;
	height: 400px;
	width: 400px;
	margin: auto;
	margin-left: 400px;
	
	float: left;
}

#content{
	border: solid 1px;
	overflow-y: auto;
	height: 400px;
	width: 400px;
	margin: auto;
	margin-left: 60px;
	margin-top:100px;
		
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="myscript.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />


<script>

// Get the CSV and create the chart
$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=analytics.csv&callback=?', function (csv) {

		Highcharts.chart('graphContainer', {

			data: {
				csv: csv
			},

			title: {
				text: 'Daily visits at www.highcharts.com'
			},

			subtitle: {
				text: 'Source: Google Analytics'
			},

			xAxis: {
				tickInterval: 7 * 24 * 3600 * 1000, // one week
				tickWidth: 0,
				gridLineWidth: 1,
				labels: {
					align: 'left',
					x: 3,
					y: -3
				}
			},

			yAxis: [{ // left y axis
				title: {
					text: null
				},
				labels: {
					align: 'left',
					x: 3,
					y: 16,
					format: '{value:.,0f}'
				},
				showFirstLabel: false
			}, { // right y axis
				linkedTo: 0,
				gridLineWidth: 0,
				opposite: true,
				title: {
					text: null
				},
				labels: {
					align: 'right',
					x: -3,
					y: 16,
					format: '{value:.,0f}'
				},
				showFirstLabel: false
			}],

				legend: {
					align: 'left',
					verticalAlign: 'top',
					y: 20,
					floating: true,
					borderWidth: 0
				},

				tooltip: {
					shared: true,
					crosshairs: true
				},

				plotOptions: {
					series: {
						cursor: 'pointer',
						point: {
							events: {
								click: function (e) {
									hs.htmlExpand(null, {
										pageOrigin: {
											x: e.pageX || e.clientX,
											y: e.pageY || e.clientY
										},
										headingText: this.series.name,
										maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ':<br/> ' +
											this.y + ' visits',
										width: 200
									});
								}
							}
						},
						marker: {
							lineWidth: 1
						}
					}
				},

				series: [{
					name: 'All visits',
					lineWidth: 4,
					marker: {
						radius: 4
					}
				}, {
					name: 'New visitors'
				}]
		});
});

</script>
</head>

<body>

<h1 align="center">Welcome</h1>

<div ng-app="myApp" ng-controller="myCtrl">

<div id="welcome" >

<ul style="list-style-type:circle">
  <li>Product Feature 01</li>
  <li>Product Feature 02</li>
  <li>Product Feature 03</li>
</ul>

<p> Your suggestions: <input type="text" ng-model="name"> {{name}}</p>

<button ng-click="addSuggestion(name)">Add</button>
</div>

<div id="content">
<div ng-repeat="data in suggestions">
<p> {{data}}</p>
</div>
</div>
</div>
<div id="graphContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


</body>

</html>
